<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg shadow">
  <a class="navbar-brand" href="#">Kubernetes Release Notes</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavAltMarkup" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto w-100">
      <li class="nav-item active w-100">
        <input
          [ngModel]="filter['markdown']"
          (ngModelChange)="updateFilterString('markdown', $event)"
          class="form-control bg-dark text-white border-0 rounded-0"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button (click)="openModal()" class="btn btn-outline-info">About</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <p *ngFor="let data of options | keyvalue">
          <b>{{ data.key }}</b
          ><br />
          <span *ngFor="let a of data.value | keyvalue">
            <label>
              <input
                type="checkbox"
                name="{{ data.key }}[]"
                [ngModel]="filter[data.key][a.value]"
                (ngModelChange)="updateFilterObject(data.key, a.value, $event)"
                value="{{ a.value }}"
              />
              {{ a.value }} </label
            ><br />
          </span>
        </p>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <app-notes
          (filterUpdate)="toggleFilter($event)"
          (gotNotes)="gotNotes($event)"
          [filter]="filter"
        ></app-notes>
      </div>
    </main>
  </div>
</div>
