@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

.navbar-brand {
  img {
    width: 1.5em;
  }
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

#searchBar {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
  height: 40px;
}
