<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg shadow">
  <a class="navbar-brand" href="/">
    <img src="assets/img/logo.svg" alt="kubernetes" class="d-inline-block align-top" />
    release notes
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavAltMarkup" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto w-100">
      <li class="nav-item active w-100">
        <input
          [ngModel]="filter.text"
          (ngModelChange)="updateFilterString($event)"
          class="form-control bg-dark text-white border-0 rounded-0"
          id="searchBar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="openModal()" id="aboutLink" class="nav-link">About</a>
      </li>
      <li class="nav-item" id="settingsButton"><app-settings></app-settings></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <app-filter id="filterComponent"></app-filter>
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          border-bottom
        "
      >
        <app-notes id="notesComponent"></app-notes>
      </div>
    </main>
  </div>
</div>
