.navbar-brand {
  img {
    width: 1.5em;
  }
  font-family: var(--font-family-ubuntu);
  font-size: 1.5em;
  font-weight: bold;
}

#searchBar {
  font-family: var(--font-family-ubuntu);
  padding: 0;
  margin: 0;
  height: 40px;
  font-size: 16px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
}
