.card {
  margin-bottom: 1em;
}

.k8s-badge,
.clickable {
  cursor: pointer;
}

.icon {
  margin-left: 0.5em;
  color: var(--color-primary);
  &:hover {
    color: #0056b3; /* Darker shade of --color-primary (#007bff) */
  }
}

.doc-badge {
  margin-left: 0.5em;
}
