/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

:root {
  --font-family-ubuntu: 'Ubuntu', sans-serif;
  --color-text-dark: #333;
  --color-text-medium: #999;
  --color-primary: #007bff;
  --color-white: #fff;
  --navbar-height: 54px;
}

html {
  font-size: 0.875rem;
}
.k8s-badge {
  padding: 5px 8px;
  margin: 3px;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar */
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: var(--navbar-height) 0 0 20px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - var(--navbar-height));
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.nav-link {
  cursor: pointer;
}

.sidebar .nav-link {
  font-weight: 500;
  color: var(--color-text-dark);
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: var(--color-text-medium);
}

.sidebar .nav-link.active {
  color: var(--color-primary);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* Content */
[role='main'] {
  padding-top: var(--navbar-height); /* Space for fixed navbar */
}

#notesComponent {
  width: 100%;
}

/* Navbar */
*:focus {
  box-shadow: none;
  border: none;
}

.form-control-dark {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

input[type='checkbox'] {
  vertical-align: middle;
}

ngb-modal-backdrop {
  z-index: 1050;
}
