/* You can add global styles to this file, and also import other style files */
html {
  font-size: 0.875rem;
}
.k8s-badge {
  padding: 3px;
  margin: 3px;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  padding-left: 20px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* Content */
[role='main'] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role='main'] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

#notesComponent {
  width: 100%;
}

/* Navbar */
*:focus {
  box-shadow: none !important;
  border: none !important;
}

.form-control-dark {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.form-control-dark:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25) !important;
}

input[type='checkbox'] {
  vertical-align: middle;
}
